@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Shared style */
.header,
.hero-content,
.info-section,
.testimonial-content,
.cta-section {
  max-width: 1000px;
  width: 100%;
}

.btn {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 600;
  border: none;
  padding: 8px 18px;
  align-self: flex-start;
  border-radius: 6px;
}

/* Header style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.navigation-list {
  display: flex;
  gap: 12px;
  list-style: none;
}

.navigation-link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* Hero style */
.hero {
  background-color: #1f2937;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero-content {
  display: flex;
  justify-content: center;
  gap: 64px;
  padding: 112px 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-subtitle {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #e5e7eb;
  flex: auto;
}

/* Information section */

.info-section {
  width: 100%;
  padding: 32px 0 112px 0;
}

.info-heading {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin-bottom: 32px;
}

.info-cards-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.info-card {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.info-image-container {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 12px;
}

.info-text {
  text-align: center;
  color: #5a5e64;
}

/* Testimonial section */
.testimonial-section {
  background-color: #e5e7eb;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 164px;
}

.testimonial-quote {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  font-style: italic;
}

.testimonial-author {
  width: 100%;
  text-align: end;
  color: #1f2937;
}

/* Call to action section */
.cta-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 0;
}

.cta-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #3882f6;
  padding: 64px;
  border-radius: 12px;
}

.cta-text h4 {
  color: #f9faf8;
  font-size: 18px;
}

.cta-text p {
  color: #e5e7eb;
  font-weight: 300;
}

.cta {
  align-self: center;
  border: 1px solid #f9faf8;
}
