@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.hero {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h2 {
  font-size: 24px;
  color: #f9faf8;
}

.header ul {
  display: flex;
  gap: 12px;
  list-style: none;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
