@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

/* Header style */
.header {
  display: flex;
  justify-content: space-between;
}

.header h2 {
  font-size: 24px;
  color: #f9faf8;
}

.header ul {
  display: flex;
  gap: 12px;
  list-style: none;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* Hero style */
.hero {
  background-color: #1f2937;
}

.hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-subtitle {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #e5e7eb;
}

.btn {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 600;
  border: none;
  padding: 6px 18px;
  align-self: flex-start;
  border-radius: 4px;
}
