@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Shared style */
.header,
.hero-content,
.info-section {
  max-width: 1000px;
  width: 100%;
}

/* Header style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.navigation-list {
  display: flex;
  gap: 12px;
  list-style: none;
}

.navigation-link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* Hero style */
.hero {
  background-color: #1f2937;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero-content {
  display: flex;
  justify-content: center;
  gap: 64px;
  padding: 112px 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-subtitle {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #e5e7eb;
  flex: auto;
}

.btn {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 600;
  border: none;
  padding: 6px 18px;
  align-self: flex-start;
  border-radius: 4px;
}
